<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <title>Destination</title>
    <meta name="description" content= "Insert description of webpage">
  </head>
  <body>
    <div id="container">

      <div class="title">
        <p><a href="/dashboard">Home</a>  <a href="/logout">Logout</a></p>
        <h2>Destination: {{plan.dest}}</h2>
        <p>Planned By: {{plan.planner.name}}</p>
        <p>Description: {{plan.desc}}</p>
        <p>Travel Date From: {{plan.start}}</p>
        <p>Travel Date To: {{plan.end}}</p>
      </div>

      <div class="reviews">
        <h3>Other users' joining the trip:</h3>
        {% for k in companions %}
          <p>{{k.name}}</a></p>
        {% endfor %}
      </div>

    </div>
  </body>
</html>
